
/* Color Palette 

Gray - 515151
White - FFFFFF
REO Blue - #006DCC
QWhite - EEEEEE


*/

body {
	font-family: helvetica, 'sans-serif';
}

* {
	box-sizing: border-box;
}


.i_container {
width: 1300px;
min-height: 465px;
margin: 0px auto;
background-color: #FFF;
position: relative;
border-left: 1px solid #D8D8D8;
border-right: 1px solid #D8D8D8;
}

.sk_container {
	background-color: #EEEEEE;
}

.pay-flash-message {
	z-index: 40;
	position: fixed;
	display: block;
	margin: 0px auto;
	top: 1rem;
	left: 0;
	right: 0;
	margin: 0px auto;
	width: 40rem;
	background-color: #EEEEEE;
	padding: 1rem;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	opacity: 0;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.flash-message-warning {

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

.flash-message-notice {

	-webkit-tranasition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #31708F;
	background-color: #D9EDF7;
	border-color: #BCE8F1;	
}

.flash-message-success {

	-webkit-tranasition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.flash-message-danger {

	-webkit-tranasition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}



.pay_category {

	display: block;
	
	padding: 30px 0px;

	width: 80%;
	margin: 0px auto;
}

.pay-section-header {
/*	text-align: center;*/
	margin: 0px;
}

.pay-section-description {
	margin: 30px auto;
	font-size: 1.0rem;
	letter-spacing: 0.8px;
}

.pay-content-box {
	box-sizing: border-box;
	position: relative;
	display: block;
	border-radius: 5px;
	border: 1px solid #006DCC;
}

.pay-content-box ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 130px;
}

.pay-content-box.box-large {
	width: 267px;

}

.pay-content-box.box-small {
	width: 219px;
	padding:10px;
	
}

.pay-content-box h3 {
	text-align: center;
	color: #006DCC;
	
}

/* This is the forte button */
.pay-content-box .pay-content-button , 
.pay-content-box .paypal_btn {

	bottom: 1rem;
	width: 90%;
	height: 50px;
	font-size: 1.2rem;
	border-radius: 4px;
	letter-spacing: 0.05rem;
	display: block;
	color: white;
	margin: 10px auto;
	background-color: #006DCC;
	border: #BCE8F1;
}


.pay-content-box .pay-content-button:hover, 
.pay-content-box .paypal_btn:hover {
	background-color: #208DEC;

	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.pay-content-box input[type="test"] {
	display: block;
	border: 1px solid black;
	width: 80px;
	height: 30px;
	margin: 0px auto;
}

.pay-content-box .price-header {
	line-height: 0.4;
	font-weight: 100;
	font-size: 3.1rem;	
}

.pay-content-box .price-header span {
	font-weight: 100;
	font-size: 1.1rem;
}


.pay-input {
	color: #006DCC;
	display: block;
	width: 100%;
	text-align: center;
}

.pay-input input {
	font-size: 1.4rem;
	color: #006DCC;
	border: 0px;
	text-align: center;
	
	background-color: #E6E8E3;
	border-bottom: 1px solid #006DCC;
	width: 90%;

}

.pay-input span {
	font-size: 1.4rem;
	color: #006DCC;
}

#terms-section {
	/*background-color: #f1f1f1;*/
}

.terms-conditions-list li {
	margin: 1rem 0px;
}

#q-pay-input {

}

#s-pay-input {

}


/*  Font Awesome Styles
================================= */

.fa.fa-check {
	color: green;
}

.fa.fa-times {
	color: red;
}


/* Modal Styles
========================== */

.modal-popup {
	display: inline;
	/*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 10;
}

.modal-content {
    margin-top: -293px;
    margin-left: -225px;
    opacity: 1;
    position: fixed;
    transform: translateY(0) scale(1);
    transition: none 0 ease 0;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 580px;
    border-top: 4px solid #418bca;
    border-left: 1px solid #778180;
    border-right: 1px solid #778180;
    border-bottom: 1px solid #778180;
    background-color: #fff;
    padding: 24px 43px 0px 24px;
}

.modal-header {
	position: relative;
}

.modal_close {
    background-color: rgba(0,0,0,0)!important;
    background-image: url("https://s3.amazonaws.com/public.forte.prod/fc.images/close-btn.png");
    background-repeat: no-repeat;
    border: 0 solid;
    color: rgba(0,0,0,0);
    cursor: pointer;
    /*float: right;*/
    height: 33px;
    /*left: 413px;*/
    /*line-height: 15px;*/
    /*margin-right: -10px;*/
    margin-top: 6px;
    right: 0px;
    bottom: 0px;
    opacity: .9;
    padding: 0;
    position: absolute;
    width: 33px;
   /* z-index: 2147483647;*/
}

.legend {
    border-bottom-color: #e5e5e5;
    border-top-color: #fff;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    display: block;
    padding-bottom: 8px;
    width: 363px;
    color: #333;
    margin-bottom: 10px;
}

.input-field {
	border: 1px solid #ccc;
    color: #555;
    display: inline-block;
    height: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    margin-left: 0;
    font-weight: normal;
    display: block;
    width: 100%;
}