
/* Color Palette 

Gray - 515151
White - FFFFFF
REO Blue - #006DCC
QWhite - EEEEEE


*/

body {
	font-family: helvetica, 'sans-serif';
}

* {
	box-sizing: border-box;
}


.i_container {
width: 1300px;
min-height: 465px;
margin: 0px auto;
background-color: #FFF;
position: relative;
border-left: 1px solid #D8D8D8;
border-right: 1px solid #D8D8D8;
}

.sk_container {
	background-color: #EEEEEE;
}

.pay-flash-message {
	z-index: 40;
	position: fixed;
	display: block;
	margin: 0px auto;
	top: 1rem;
	left: 0;
	right: 0;
	margin: 0px auto;
	width: 40rem;
	background-color: #EEEEEE;
	padding: 1rem;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	opacity: 0;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.flash-message-warning {

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

.flash-message-notice {

	-webkit-tranasition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #31708F;
	background-color: #D9EDF7;
	border-color: #BCE8F1;	
}

.flash-message-success {

	-webkit-tranasition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.flash-message-danger {

	-webkit-tranasition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}



.pay_category {

	display: block;
	
	padding: 30px 0px;

	width: 80%;
	margin: 0px auto;
}

.pay-section-header {
/*	text-align: center;*/
	margin: 0px;
}

.pay-section-description {
	margin: 30px auto;
	font-size: 1.0rem;
	letter-spacing: 0.8px;
}

.pay-content-box {
	box-sizing: border-box;
	position: relative;
	display: block;
	border-radius: 5px;
	border: 1px solid #006DCC;
}

.pay-content-box ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 130px;
}

.pay-content-box.box-large {
	width: 267px;

}

.pay-content-box.box-small {
	width: 219px;
	padding:10px;
	
}

.pay-content-box h3 {
	text-align: center;
	color: #006DCC;
	
}

/* This is the forte button */
.pay-content-box button, .pay-content-box .paypal_btn {

	bottom: 1rem;
	width: 90%;
	height: 50px;
	font-size: 1.2rem;
	border-radius: 4px;
	letter-spacing: 0.05rem;
	display: block;
	color: white;


	margin: 10px auto;
	background-color: #006DCC;
	border: #BCE8F1;
}

.pay-content-box button:hover, .pay-content-box .paypal_btn:hover {
	background-color: #208DEC;

	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.pay-content-box .price-header {
	line-height: 0.2;
	font-weight: 100;
	font-size: 3.1rem;	
}

.pay-content-box .price-header span {
	font-weight: 100;
	font-size: 1.1rem;
}


.pay-input {
	color: #006DCC;
	display: block;
	width: 100%;
	text-align: center;
}

.pay-input input {
	font-size: 1.4rem;
	color: #006DCC;
	border: 0px;
	text-align: center;
	
	background-color: #E6E8E3;
	border-bottom: 1px solid #006DCC;
	width: 90%;

}

.pay-input span {
	font-size: 1.4rem;
	color: #006DCC;
}

#terms-section {
	/*background-color: #f1f1f1;*/
}

.terms-conditions-list li {
	margin: 1rem 0px;
}

#q-pay-input {

}

#s-pay-input {

}


/*  Font Awesome Styles
================================= */

.fa.fa-check {
	color: green;
}

.fa.fa-times {
	color: red;
}
